input {
  font-size: 1.125em;
  padding: 0.375em;
}

input,
button,
a.btn {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}

.inp-grp,
.inp-grp-horiz {
  margin-bottom: 1em;
  label {
    padding-left: 0.25em;
  }
  label,
  input {
    margin-bottom: 0.2em;
  }
  input[type="checkbox"] {
    position: absolute;
    left: -9000px
  }
  input[type="checkbox"] + label {
    padding-left: 1.5em;
    padding: 0.25em 0 0.25em 2em;
    background-image: $checkbox-unchecked-svg;
    background-repeat: no-repeat;
    background-size: contain;
  }
  input[type=checkbox]:checked + label {
    background-image: $checkbox-checked-svg;
  }
}

.inp-grp {
  label,
  input {
    display: block;
  }
}

.inp-lrg,
.btn-lrg {
  width: 100%;
}

.inp-med,
.btn-med {
  width: 66%;
}

.inp-sm,
.btn-sm {
  width: 33%;
}

.inp-grp-horiz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label,
  input {
    display: inline-block;
  }
  .inp-lrg,
  .btn-lrg {
    width: 67.5%;
  }

  .inp-med,
  .btn-med {
    width: 50%;
  }

  .inp-sm,
  .btn-sm {
    width: 30%;
  }
}

.inp-grp-compound {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.inp-grp-compound__left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.inp-grp-compound__right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inp-label-req {
  &:after {
    font-weight: bold;
    color: #c30909;
    content: " *";
  }
}

.inp-label-opt {
  &:after {
    color: #919191;
    font-size: 0.8em;
    content: " (optional)";
  }
}

.inp-label-instr {
  font-size: 0.8em;
  color: #818181;
}

a.btn {
  display: inline-block;
  text-decoration: none;
}

.btn {
  padding: 0.45em 1em;
  outline: none;
}

.btn-primary {
  @extend .btn;
  @include button-style(white, $button-primary-color);
  &:disabled {
    @include button-style(#5d5d5d, #a4a4a4);
  }
}

.btn-function {
  @extend .btn;
  @include button-style(white, #0a4efb);
}

.btn-secondary-function {
  @extend .btn;
  @include button-style(white, #4971d7);
}

.pw-mod-inp {
  @extend .inp-grp-compound__left;
}

.pw-mod-button {
  @extend .inp-grp-compound__right;
  width: 5.75em;
}

.no-js {
  .pw-mod-inp {
    border-right: 1px solid #bfbfbf;
  }

  .pw-mod-button {
    display: none;
  }
}

.error {
  color: red;
  font-size: 0.8em;
  padding: 0;
  margin-top: 0;
}
