.container {
  width: $max-layout-width;
  max-width: 90%;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
}

.container-vertical {
  @extend .container;
  flex-direction: column;
}

.container-horizontal {
  @extend .container;
  flex-direction: row;
  justify-content: center;
}

.header {
  width: $max-layout-width;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.header-menu {
  li {
    display: inline;
    padding-right: 0.5em;
  }
  li:last-child {
    padding-right: 0;
  }
  a {
    color: $header-nav-color;
  }
}

.card {
  max-width: 100%;
  background-color: $card-color;
  padding: 1em 1.25em 1.5em 1.25em;
  margin-bottom: 2em;
  box-shadow: -1px 0 1px rgba(133, 133, 133, 0.4),
              1px 0 1px rgba(133, 133, 133, 0.4),
              0 3px 2px rgba(133, 133, 133, 0.4);
  @media screen and (min-width: 400px) {
    padding: 1em 2em 2em 2em;
  }
}

.formsection {
  @extend .card;
  width: $max-layout-width / 2;
}

.card-event {
  @extend .card;
  width: 100%;
  @media screen and (min-width: 660px) {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
  @media screen and (min-width: 980px) {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
  }
  h3 {
    margin-bottom: 2px;
  }
  h4 {
    margin-bottom: 0.75em;
  }
  .hosted {
    margin: 0;
    font-size: 0.8em;
    color: #7d7d7d;
  }
  .address {
    margin: 2px;
  }
}

.hero {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  margin: 1em 2em;
  padding: 0 1em;
  background-color: rgba(0, 0, 0, 0.55);
  h2 {
    color: white;
    text-shadow: 3px 3px 1px black;
    font-weight: normal;
    font-size: 1.75em;
    margin-bottom: 1em;
  }
  .hero-subhead {
    color: white;
    text-shadow: 3px 3px 1px black;
    font-size: 1.25em;
  }
  @media screen and (min-width: 660px) {
    margin: 2em 6em 4em 6em;
    padding: 0 2em;
    h2 {
      font-size: 2.5em;
      margin-bottom: 1.5em;
    }
    .hero-subhead {
      font-size: 2em;
    }
  }
  @media screen and (min-width: 900px) {
    padding: 0 4em;
  }
}

.hero-bg {
  background: url('../img/hero-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.events-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.modal {
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  width: $max-layout-width / 1.8;
  max-width: 95%;
  max-height: 95%;
  overflow-y: scroll;
  background-color: tint($card-color, 50%);
  border: 1px solid tint($card-color, 35%);
  box-shadow: -1px 0 1px rgba(133, 133, 133, 0.4),
              1px 0 1px rgba(133, 133, 133, 0.4),
              0 3px 2px rgba(133, 133, 133, 0.4);
  .btn-close {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
  }
}

.modal-hidden {
  transform: translateX(-3000px);
}

.modal-sug-list {
  padding: 0;
  li {
    display: block;
    padding-bottom: 0.25em;
    margin-bottom: 0.75em;
    border-bottom: 1px solid #dedddd;
    button {
      display: inline-block;
    }
    p {
      margin: 0.25em;
    }
  }
}

.guest-list {
  padding: 0;
  margin-top: 0.5em;
  li {
    display: block;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
  }
  button {
    margin-left: 0.5em;
  }
}
