$max-layout-width: 1080px;

$brand-primary-color: #edede8;
$secondary-brand-color: #606058;

$header-nav-color: #3c4b6e;

$button-primary-color: #12b043;

// SVG Data URLs

$checkbox-unchecked-svg: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22250%22%20height%3D%22250%22%20viewBox%3D%220%200%20250%20250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketchs%22%3E%3Ctitle%3EArtboard%201%3C%2Ftitle%3E%3Crect%20sketch%3Atype%3D%22MSShapeGroup%22%20x%3D%2210%22%20y%3D%2210%22%20width%3D%22230%22%20height%3D%22230%22%20rx%3D%2228%22%20stroke%3D%22%23979797%22%20stroke-width%3D%228%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
$checkbox-checked-svg: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22250%22%20height%3D%22250%22%20viewBox%3D%220%200%20250%20250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3EArtboard%201%3C%2Ftitle%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20stroke%3D%22%23979797%22%20stroke-width%3D%228%22%20x%3D%2210%22%20y%3D%2210%22%20width%3D%22230%22%20height%3D%22230%22%20rx%3D%2228%22%2F%3E%3Cpath%20d%3D%22M79.297%20139.344c3.586%200%206.328%202.953%208.226%208.86%203.692%2011.18%206.33%2016.77%207.91%2016.77%201.266%200%202.532-.95%203.797-2.85%2025.84-41.554%2049.834-75.145%2071.983-100.774%205.695-6.645%2014.765-9.967%2027.21-9.967%202.954%200%204.93.263%205.933.79%201.002.528%201.503%201.214%201.503%202.057%200%201.372-1.53%203.903-4.59%207.594-35.647%2042.82-68.66%2088.066-99.034%20135.74-2.11%203.374-6.433%205.06-12.972%205.06-6.645%200-10.6-.315-11.866-.948-3.164-1.37-6.855-8.438-11.074-21.2-4.746-14.132-7.12-22.992-7.12-26.578%200-3.796%203.218-7.488%209.65-11.074%203.904-2.32%207.384-3.48%2010.443-3.48z%22%20fill%3D%22%2316A419%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");

// Functions and mixins

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin button-style ($foreground, $background) {
  color: $foreground;
  background-color: $background;
  border: 2px solid shade($background, 7%);
  &:hover {
    background-color: shade($background, 5%);
  }
  &:active {
    background-color: shade($background, 15%);
  }
}
